{% extends "base.html" %}
{% load static %}
{% load template_tags %}

{% block content %}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<div class="row d-flex justify-content-center align-items-center h-70">
    <!-- Add Toggle button between income and expenses -->
    <!-- Add add transaction button -->
    
    <div class="col d-flex justify-content-center align-items-center">
        <div class="col-md-9 mt-5">
            <table class="table table-light table-striped table-hover rounded-3 overflow-hidden" id="expense-table">
                <thead class="table-info">
                    <tr>
                        {% for header in expense_table_header.values %}
                            <th scope="col">{{ header }}</th>
                        {% endfor %}
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                        <tr>
                            {% if transaction.type.0 == "EXPENSE" %}
                                {% for key in expense_table_header %}
                                    <td>{{ transaction|get:key }}</th>
                                {% endfor %}
                                <td>
                                    <a href="#">
                                        <span class="material-icons">
                                            delete
                                        </span>
                                    </a>

                                    <a href="#">
                                        <span class="material-icons">
                                            edit
                                        </span>
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Add Modal Form which will popup on clicking add transaction button -->
</div>
{% endblock %}
