{% extends "base.html" %}
{% load static %}
{% load template_tags %}

{% block content %}

  <!-- ======= Car Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">
          <div class="portfolio-details-slider swiper-container">
            <div class="align-items-center">
              <img src="{{ car.image.url }}" alt="{{ car.model }}">
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>

        <div class="row gy-4">
          <div class="portfolio-info">
            <h3>{{ car.model }} {{ car.spec }}</h3>
            <ul>
              {% for key, header in car_table_header.items  %}
                <li><strong>{{header}}</strong>: {{ car|get:key }}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="portfolio-description">
            <h4><strong>Total Mileage Calculator</strong></h4>

            <form method="POST">
              {% csrf_token %}
              <div class="form-outline form-white mb-2">
                <input type="text" name="source" id="source" class="form-control form-control-lg mb-6" placeholder="Source" required/>
              </div>
              <div class="form-outline form-white mb-2">
                <input type="text" name="destination" id="destination" class="form-control form-control-lg" placeholder="Destination" required/>
              </div>
              <div class="form-outline form-white mb-2">
                <input type="text" name="frequency" id="frequency" class="form-control form-control-lg" placeholder="Frequency" name="frequency" required/>
              </div>
              <button class="btn btn-outline-light btn-lg px-5 float-end text-white" type="submit" name="Add trip">Add Trip</button>
            </form>

          </div>
        </div>
      </div>

      <div class="container", style="margin-top: 10px;">
        <table class="table table-bordered table-dark table align-middle">
          <thead>
            <tr>
              {% for header in trip_table_header.values %}
                <td>{{ header}}</td>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for trip in trips %}
            <tr>
              {% for key in trip_table_header %}
                <td>{{ trip|model_to_dict|get:key }}</td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="container">
          <h2 class="float-start col-md-7">Total Mileage: {{ total_mileage }} KM</h2>
         
          <a href="{% url 'trip_delete' car.id %}"><button class="btn btn-outline-light btn-lg px-5 float-end text-white" type="submit">Delete Trip</button><a/>
          <h2 class="float-start col-md-7">Monthly Cost: ${{ total_cost }}</h2>
          <!-- <a href="/finance/cashFlow/"><button class="btn btn-outline-dark btn-lg px-5 float-end" type="submit">Add Total Mileage</button><a/> -->
            <div class="container text-end">
              <form method="POST">
                  {% csrf_token %}
                  <a href="/finance/cashFlow/">
                      <button type="submit" name="Update Balance Sheet" class="btn btn-outline-light btn-lg px-5 text-white">Update Balance Sheet</button>
                  </a>
              </form>
          </div>
          
      </div>

      <div class="container", style="margin-top: 10px;">
        <h2 class="float-start col-md-7" style="border-bottom: 50px solid black;"></h2>


    </section><!-- End Car Details Section -->

{% endblock %}
