{% extends "base.html" %}
{% load static %}
{% load template_tags %}

{% block content %}
<body id="body" style="background-image: url('/static/nav/assets/img/budget.jpeg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
background-color: rgba(245, 245, 245, 0.5);
overflow:hidden">

    <span>
        <center>
            <h1 style="margin-top: 200px;"><u>Budget</u></h1>
        </center>
        <div style="text-align:right; margin-right:400px; margin-top:30px;">
            <div style=" display: inline-block; width:12%; margin-left: auto; margin-right: 20px;">
                <select id="inputMonth" class="form-select" style="margin-right: 10px;">
                    <option selected>January</option>
                    <option>Feburary</option>
                    <option>March</option>
                    <option>April</option>
                    <option>May</option>
                    <option>June</option>
                    <option>July</option>
                    <option>August</option>
                    <option>September</option>
                    <option>October</option>
                    <option>November</option>
                    <option>December</option>
                </select>
            </div>
            <div style=" display: inline-block; width:9%;">
                <select id="inputYear" class="form-select">
                    <option selected>2023</option>
                    <option>2022</option>
                    <option>2021</option>
                </select>
            </div>
        </div>
    </span>
    <div class="container d-flex align-items-center justify-content-between">

        <table class="table table-hover table-dark" id="budget-table" style="margin-top: 80px; width:80%; margin:80px auto;  border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden; padding: 5px;">

        </table>
    </div>
    <!-- <div style="text-align: center;">
        <button type="button" class="btn btn-outline-secondary btn-lg align-middle"><span
                class="material-icons align-middle" style="margin-right: 5px;">
                add
            </span>Add Budget </button>
    </div> -->
</body>

<div class="modal fade" id="updateBudgetFormModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModalLabel" style="color: black;"></h5>
                <button type="button" class="btn btn-secondary close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="update-budget-form" >
                    <div class="form-floating mt-2">
                        <input type="number" min="0" max="1000000000" class="form-control" placeholder="Limit" id="budget-limit" name="budget_limit"></input>
                        <label for="budget-limit" style="color:grey">Limit</label>
                        <div class="invalid-feedback">

                        </div>
                    </div>
                    <div class="d-flex mt-2">
                        <button type="submit" class="btn btn-primary" style="margin-left: auto;">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script type="module" src="{% static 'table.js' %}"></script>
<script type="module" src="{% static 'getBudget.js' %}"></script>
<script type="module" src="{% static 'updateBudget.js' %}"></script>
<script type="module" src="{% static 'error.js' %}"></script>
{% endblock %}