{% extends "base.html" %}
{% load static %}

{% block content %}

<style>
  @keyframes mover {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(-30px);
    }
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  .tooltip-inner {
    font-size: 20px;
  }

  .Legend-colorBox {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    display: inline-block;
    background-color: blue;
  }

  .progress-bar__container {
    /* margin-left: 380px; */
    height: 320px;
    position: relative;
    /* left: 0;
  right: 0; */
    /* margin: 50px auto; */
  }

  .progress-bar__wrap {
    border-radius: 12px;
    background-color: rgb(233, 235, 238);
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    /* margin-left: 50px; */
    width: 50px;
    height: 320px;
    line-height: 320px;
    float: left;
  }

  .bar-value {
    border-radius: 0px 0px 12px 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    animation: grow 1.5s ease-out forwards;
    transform-origin: bottom;
  }

  .bar-value::before {
    content: attr(title);
    text-align: center;
    bottom: 10px;
    left: 5px;
    color: white;

  }

  @keyframes grow {
    from {
      transform: scaleY(0);
    }
  }

  .bar-value {
    -webkit-animation: slideIn 1s;
    -moz-animation: slideIn 1s;
    -o-animation: slideIn 1s;
    animation: slideIn 1s;
  }

  @-webkit-keyframes slideIn {
    0% {
      height: 0;
    }

    100% {
      height: normal;
    }
  }

  @-moz-keyframes slideIn {
    0% {
      height: 0;
    }

    100% {
      height: normal;
    }
  }

  /* @-ms-keyframes slideIn {
  .progress-bar 0% {
    height: 0;
  }
  .progress-bar 100% {
    height: normal;
  }
} */

  @-o-keyframes slideIn {
    0% {
      height: 0;
    }

    100% {
      height: normal;
    }
  }

  @keyframes slideIn {
    0% {
      height: 0;
    }

    100% {
      height: normal;
    }
  }
</style>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
<!-- ======= Homepage Section ======= -->



{% if request.user.is_authenticated %}
<body id="team" class="team"
  style="min-height: 100%; background: radial-gradient(ellipse at bottom, #1b2735 20%, #090a0f 80%);">

  <center><h1 data-aos="fade-up" data-aos-delay="100" style="margin-top: 250px;"><u><span id='date'></span></u></h1></center>

  <center>
    <h3 data-aos="fade-up" data-aos-delay="100" style="margin-top: 100px;">You have spent ${{total_spent}} out of ${{total_budget_limit}}.</h3>
  </center>
  <div data-aos="fade-up" data-aos-delay="100" class="container d-flex align-items-center justify-content-between">


    <!-- {"total_budget_limit": 3500.0, "total_spent": 812.0, "budgets": [{"name": "First", "spent": 312.0, "limit": 3500.0, "percentage": 0.08914285714285715}, {"name": "Second", "spent": 500.0, "limit": 3500.0, "percentage": 0.14285714285714285}]} -->

    <div class="progress" style=" height: 30px; width:100%; margin-top: 100px;">
      {% for budget in budgets %}
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="55"
        aria-valuemin="0" aria-valuemax="100" style="width: {{budget.percentage}}%; background-color: {{budget.color}};"
        data-toggle="tooltip" data-placement="top" title="{{budget.spent}}"> </div>
      <!-- <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%" data-toggle="tooltip" data-placement="top" title="$25"></div>
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" style="width: 5%" data-toggle="tooltip" data-placement="top" title="$5"></div>
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 2%" data-toggle="tooltip" data-placement="top" title="$2"></div> -->
      {% endfor %}
    </div>




  </div>
  <div class="container" data-aos="fade-up" data-aos-delay="100" style=" width: 100%; 
      height: 100px; display: flex;
      justify-content: center;
      margin-top: 80px;">
    <div>
      {% for budget in budgets %}
      <span class="Legend-colorBox" style="background-color:{{budget.color}}; margin-right: 10px; margin-left: 30px; ">
      </span>
      <span class="Legend-label" style="margin-right: 30px;">
        {{budget.name}}
      </span>
      {% endfor %}
    </div>
  </div>


 <center><h1 data-aos="fade-up" data-aos-delay="100" style="margin-top: 400px;">Take a closer at your spending for this month.</h1></center>
  <div class="container" data-aos="fade-up" data-aos-delay="100" style=" width: 60%;
      height: 500px;
      display: flex;
      justify-content: center;
      ">
   
    <div class="progress-bar__container align-items-center justify-content-between">

      
      {% for budget in budgets %}
      <div class="progress-bar__wrap" style=" width: 200px; margin-top:50px; margin-left: 25px; margin-right: 25px;">
       
        <div class="bar-value" data-toggle="tooltip" data-placement="top" title="{{budget.spent}}"
          style="height:{{budget.individual}}%; background: {{budget.color_gradient}};" >
        </div>
        <center>  <p style="color: #151515; font-size: 30px;">{{budget.name}}</p> </center>
      </div>
 
      {% endfor %}
    
     
    </div>

    
  </div>
  
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>

</body>

{% else %}
<body id="team" class="team" style="height:100vh; background: linear-gradient(-30deg, #76adce, #314054, #0c1138, #5b64a6);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    height: 100vh; ">

  <div class="container">
    <div class="row" style="margin-left: 130px; margin-top: 170px;">

      <div class="col">
        <div class="member" data-aos="zoom-in">
          <div class="member-info" style="color: #fff; width: 110%;">
            <div class="hometitle"
              style="  font-family: 'Lora', serif; font-size: 4.8rem; margin-right: 20px; margin-top: 5%; margin-left: 20px;">
              The One Stop Solution For Finance</div>
            <a href="{% url 'login' %}" class="btn btn-primary btn-lg active" role="button"
              style="margin-top: 60px; margin-left: 20px;">Login</a> <a class="btn btn-secondary btn-lg active"
              role="button" href="{% url 'register' %}" style="margin-left:30px; margin-top: 60px;">Sign Up</a>
            <!-- <p>Path to financial freedom</p> -->
          </div>
        </div>
      </div>


      <div class="col">
        <div class="member" data-aos="zoom-in" data-aos-delay="200">
          <div class="member-img" style="margin-right: 100px; margin-top: 60px; width: 70%;">
            <a><img src="{% static "nav/assets/img/homepic.png" %}" class="img-fluid" alt=""
                style="animation: mover 2s infinite  alternate;"></a>
          </div>

        </div>
      </div>

    </div>
  </div>
</body>
{% endif %}
<!-- Homepage Section -->
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

let date = new Date().toUTCString().slice(5, 16);

const options = {
  year: 'numeric',
  month: 'long',
  
};

var d = new Date();
var n = d.toLocaleDateString('en-GB', options);

console.log(date)
document.getElementById("date").innerHTML = n;


  

</script>
{% endblock %}